body {
  font-family: 'Josefin Sans';
  
    background-image:url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: auto;
    background-repeat: no-repeat;
    font-size: medium;
  
  }
.head{
  color: aliceblue;
}
.Link{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: aliceblue;
}
.heading{
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: cadetblue;
  text-align: center;
  justify-content: center;
  margin-top: 90px;
}
.font{
  font-size:larger;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 40px;

}
.h1{
  padding-left: 10px;
}
.form{
  color: cadetblue;
}
.h2{
  padding:10px;
}
.h3{
  
    padding:10px;
  }
  span{
    color: red;
    font-size: 14px;
}
